.logo {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ccc;
    width: 80px;
    height: 80px;
}

.main {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    background: #fff;
    color: #515862;
}

.head {
    margin: 0 auto;
    width: 80%;
}

.head p{
    margin: 10px 0;
}

.split {
    margin: 0 auto;
    width: 70%;
}

.post h2{
    font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-weight: 100;
    color: #000;
    line-height: 1.35;

    margin-top: 1.2em;
    margin-bottom: 0.6em;
    line-height: 1.35;
    font-size: 1.8em;
}

.post p{
    margin-bottom: 1.2em;
    font-size: 1.2em;
}

.loadmore {
    text-align: center;
    margin-top: 40px;
    color: #1abc9c;
    font-size: 20px;
}

.loadmore:hover {
  border-bottom-color: #555;
  color: #555;
  text-decoration: none;
}
