:root {
  --ease: cubic-bezier(.82, 0, .12, 1);
  --width: 800px;
  --header-height: 400px;
  --dark: #000;
  --blue: #33A9FF;
  --light-gray: #fafafa;
  --bg: #fff;
  --fg: #868E96;
  --fg-dark: #212529;
  --selection-bg: var(--blue);
  --selection-fg: white;
}

.main {
  text-align: center;
  padding: 40px 0px;
}

.container {
  text-align: left;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 60%;
}

body {
  margin: 0;
  font: 16px/1.4 -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300 !important;
  color: rgb(0, 0, 0) !important;
}

.container h2, .container h3, .container h4 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--fg-dark);
}
.container h2 {
  padding-top: 50px;
  font-size: 1.5rem;
}
.container h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.container .highlightFirstParagraph h2 + p {
  font-size: 1.6rem;
  line-height: 1.6;
}
.container h2 + iframe, .container h3 + iframe, .container h4 + iframe {
  margin-top: 25px;
}
.container a {
  color: inherit;
  text-decoration: none;
}
.container p {
  margin: 25px 0;
  line-height: 1.6;
}
.container li strong,
.container p strong {
  color: var(--fg-dark);
  font-weight: 500;
}
.container li a,
.container p a {
  color: var(--fg-dark);
  font-weight: 400;
  padding-bottom: 3px;
  border-bottom: 1px dotted #ddd;
}
.container li a:hover,
.container p a:hover {
  color: var(--blue);
  border-bottom: none;
}
.container ul {
  margin: 30px 0 30px 30px;
  padding: 0;
}
.container ul ul {
  margin: 10px 0 10px 30px;
}
.container ul li {
  margin: 5px 0;
  line-height: 1.5em;
}
.container ul li strong {
  font-weight: 500;
}
.container img {
  max-width: 100%;
}
.container pre {
  background: transparent;
  border: 1px solid #f0f0f0;
  padding: 30px;
  border-radius: 2px;
  overflow-x: auto;
  font: "Source Code Pro", Menlo, monospace;
  font-size: .8em;
  line-height: 1.5em;
  margin: 40px 0;
}
.container code {
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}
.container li > code,
.container p > code {
  border: 1px solid #DEE2E6;
  font-size: 0.75rem;
  padding: 3px 10px;
  border-radius: 3px;
  white-space: nowrap;
  font-weight: 600;
  font-family: inherit;
}
.container hr {
  border: none;
  background-color: #f9f9f9;
  height: 1px;
  margin: 25px 0;
  height: 1px;
}
.container details > summary {
  cursor: pointer;
  outline: none;
  user-select: none;
}
.container details > p {
  border-left: 3px solid var(--dark);
  padding-left: 15px;
}
.container blockquote {
  padding: 10px 15px;
  border-left: 3px solid rgb(0, 0, 0);
  margin: 20px 0px;
}
